@charset "utf-8";
/* CSS Document */
p {color: darkgoldenrod;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
		font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color:beige;
	padding: 20px;
}
h1, h2, h3 {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
span{color: rgb(255,0,255);}
body {background-color:darkslategrey}
a:link {
	color: black;
	background-color: white;
	pading: 5px;
	line-height: 40px;
	border:1px #000000; 
}
a:hover {
	background-color: darkgray;
}
img {
	height: 200px;
}
ul, ol {
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: darkgoldenrod
}
.novi_blok {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px;
	margin: 20px;
	widht: 50px;
}